@using System.Text.Json

@{
    ViewBag.Title = "History";
}

@model List<CollectionDailyTask>

@if (Model.Count == 0)
{
    <div class="error-div">
        <div class="alert alert-warning" role="alert">
            No History found! Go and manage your schedule!
        </div>
        <div>
            <a href="/User/Schedule" class="btn btn-outline-primary">Schedule Page</a>
        </div>
    </div>
}
else
{
    <div>
        <table class="table table-striped table-hover table-primary accordion">
            <thead>
                <tr>
                    <th scope="col">Schedule Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">complete</th>
                    <th scope="col">Skipped</th>
                    <th scope="col">Expand</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                }
                @foreach (CollectionDailyTask dailyTask in Model)
                {
                    <tr id="@dailyTask.ScheduleId">
                        <td>@dailyTask.ScheduleName</td>
                        <td>@dailyTask.TaskDate.ToString().Split(" ")[0]</td>
                        @{
                            List<TaskDataModel>? tempTask = JsonSerializer.Deserialize<List<TaskDataModel>>(dailyTask.TaskList);
                            int totalTask = tempTask.Count;
                            int compmleteCount = 0;
                            int skippedCount = 0;
                            foreach (TaskDataModel data in tempTask)
                            {
                                if (data.status == "Completed")
                                {
                                    compmleteCount++;
                                }
                                if (data.status == "Skipped")
                                {
                                    skippedCount++;
                                }
                            }
                            int completePer = (compmleteCount * 100) / totalTask;
                            int skippedPer = (skippedCount * 100) / totalTask;
                        }
                        <td>@completePer %</td>
                        <td>@skippedPer %</td>
                        <td>
                            <div class="accordion" id="accordion_@count">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse_@count" aria-expanded="true"
                                            aria-controls="collapse_@count">
                                        </button>
                                    </h2>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr id="collapse_@count" class="accordion-collapse collapse" data-bs-parent="#accordion_@count">
                        <td colspan="5">
                            <div class="accordion-body">
                                @{
                                    List<TaskDataModel>? taskList =
                                    JsonSerializer.Deserialize<List<TaskDataModel>>(dailyTask.TaskList);
                                    <table class="table table-striped table-hover table-warning accordion">
                                        <thead>
                                            <tr>
                                                <th scope="col">Task Name</th>
                                                <th scope="col">Duration</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        @foreach (TaskDataModel task in taskList)
                                        {
                                            <tr>
                                                <td>@task.taskName</td>
                                                <td>@task.duration</td>
                                                <td>@task.status</td>
                                            </tr>
                                        }
                                    </table>
                                }
                            </div>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>

    @*jQuery CDN*@
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
}